* {
  font-family: "Montserrat", sans-serif;
}

iframe {
  display: block;
}
@media only screen and (max-width: 600px) {
  iframe {
    width: 100%;
  }
}

table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

table, th, td {
  border: 1px solid #595959;
  padding: 5px 10px;
}

table tr td:first-child {
  font-weight: bold;
}

a {
  word-break: break-word;
}

img {
  width: 100%;
}

.center {
  text-align: center;
}

.small-img {
  max-width: 250px;
}

.middle-img {
  max-width: 500px;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);
  font-size: 70px;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 35px;
  }
}

h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 32px;
  color: #595959;
  text-transform: uppercase;
  padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 25px;
  }
}
h3:after {
  color: #d2b521;
  content: "";
  display: block;
  background-color: #d2b521;
  height: 4px;
  margin-top: 5px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

h5 {
  font-weight: bold;
  font-size: 18px;
}

h6 {
  font-size: 17px;
  font-weight: 400;
}
h6.big-gap {
  padding-top: 30px;
}

.animate.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.animate-about {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.animate-about.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.navbar {
  font-family: "Montserrat", sans-serif;
  background-color: #0b1c3b;
  border-bottom: 2px solid #d2b521;
}
.navbar .navbar-toggler-icon {
  color: #ffffff !important;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar .logo {
  max-width: 55px;
}
.navbar .navbar-nav a {
  font-size: 18px;
  color: #ffffff;
  margin: 0 25px;
}
.navbar .navbar-nav a:hover {
  color: #d2b521;
  background-color: transparent;
}
.navbar .dropdown-menu {
  background-color: #0b1c3b;
}
.navbar .hover-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.navbar .navbar .dropdown-menu {
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-nav .nav-link.show {
  color: #ffffff;
}
.navbar .navbar-nav .nav-link.active {
  color: #d2b521;
}

.hero-section {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-size: cover;
  background-position: center;
  color: #595959;
  height: 100vh;
}
@media only screen and (max-width: 750px) {
  .hero-section {
    height: 500px;
    background-image: url("../public/images/home-banner.png");
    background-repeat: no-repeat;
  }
}
.hero-section h4, .hero-section li p {
  font-weight: bolder;
}
.hero-section h2 {
  color: #fff;
}
.hero-section h2 .gold {
  color: #d2b521;
}
.hero-section h6 {
  line-height: 25px;
}
.hero-section ul li {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
}
@keyframes slideInLeft {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@media only screen and (max-width: 750px) {
  .hero-section ul {
    padding: 0;
  }
}
.hero-section ul li {
  display: flex;
  align-items: center;
  list-style: none;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 10px;
}
.hero-section ul li img {
  max-width: 35px;
  margin-right: 10px;
}
.hero-section ul li p {
  font-weight: 600;
  margin: 0;
}
.hero-section h4 {
  line-height: 35px;
}

.hero-slide {
  height: 85vh !important;
}

.carousel .carousel-indicators button {
  display: none !important;
}

.carousel .carousel-control-prev, .carousel .carousel-control-next {
  display: none !important;
}

.about-section {
  min-height: 300px;
}
.about-section .delayed-animate-list {
  padding-left: 0;
}
.about-section .delayed-animate-list li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 20px 15px;
  margin-bottom: 10px;
  border-top: 4px solid #d2b521;
  min-height: 99px;
}
.about-section .delayed-animate-list li img {
  max-width: 35px;
}
.about-section .delayed-animate-list li p {
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}
.about-section h4 {
  color: #d2b521;
  margin-bottom: 2em;
}
.about-section h3 {
  margin-bottom: 0;
}

.projects-section, .explore-section {
  background-color: #e4e4e4;
  min-height: 350px;
}
.projects-section .project-card, .explore-section .project-card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 350px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  align-items: flex-end;
  border: 2px solid #fff;
}
.projects-section .project-card .read-more-btn, .explore-section .project-card .read-more-btn {
  cursor: pointer;
}
.projects-section .project-card:hover, .explore-section .project-card:hover {
  transform: translateY(-5px);
  border: 2px solid #d2b521;
}
.projects-section .project-card:hover .overlay, .explore-section .project-card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.projects-section .project-card:hover .read-more-btn, .explore-section .project-card:hover .read-more-btn {
  background-color: #d2b521;
  color: #fff;
}
.projects-section .overlay, .explore-section .overlay {
  position: absolute;
  padding: 20px;
  height: 100% !important;
  color: #fff;
  width: 100%;
  text-align: left;
}
.projects-section .project-title, .explore-section .project-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 11rem;
}
.projects-section .read-more-btn, .explore-section .read-more-btn {
  display: inline-flex;
  align-items: center;
  background: #ffffff;
  color: #000;
  padding: 10px 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.projects-section .read-more-btn:hover, .explore-section .read-more-btn:hover {
  color: #d2b521;
  transform: translateX(5px);
}
.projects-section .arrow-icon, .explore-section .arrow-icon {
  margin-left: 8px;
  font-size: 1.2rem;
}
.projects-section h2, .explore-section h2 {
  max-width: 80%;
  text-transform: uppercase;
}
.projects-section .project-card-col, .explore-section .project-card-col {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.projects-section .slide-up, .explore-section .slide-up {
  opacity: 1;
  transform: translateY(0);
}
.projects-section ul, .explore-section ul {
  padding-left: 0;
}
.projects-section ul li, .explore-section ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
  border-top: 4px solid #d2b521;
}
.projects-section ul li img, .explore-section ul li img {
  max-width: 30px;
  margin-right: 10px;
}
.projects-section ul li p, .explore-section ul li p {
  font-weight: 400;
  margin: 0;
}

.projects-section .project-card {
  border: 2px solid #e4e4e4;
}
.projects-section ul li {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
}
.projects-section ul li img {
  margin: 0;
}
.projects-section ul li:nth-child(1) {
  animation-delay: 0s;
}
.projects-section ul li:nth-child(2) {
  animation-delay: 1s;
}
.projects-section ul li:nth-child(3) {
  animation-delay: 2s;
}
.projects-section ul li:nth-child(4) {
  animation-delay: 3s;
}
.projects-section ul li:nth-child(5) {
  animation-delay: 4s;
}
.projects-section ul li:nth-child(6) {
  animation-delay: 5s;
}
@keyframes slideInLeft {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.projects-section p {
  font-size: 14px;
}

.explore-section {
  background-color: #ffffff;
  min-height: 350px;
}
.explore-section .project-title {
  padding-top: 13rem;
}

.news-section {
  background-color: #e4e4e4;
  min-height: 350px;
}
.news-section #news1 {
  display: none;
}
.news-section .news-card {
  position: relative;
  background-color: white;
  padding: 30px 20px 50px 20px;
  border-bottom: 2px solid #d2b521;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  min-height: 240px;
}
.news-section .news-card .news-category {
  background-color: #001d3d;
  color: #ffffff;
  font-size: 16px;
  padding: 5px;
}
.news-section .news-card .news-title {
  padding: 20px 0;
  margin: 0;
}
.news-section .news-card .news-date {
  font-size: 14px;
  font-weight: 500;
  color: #001d3d;
}
.news-section .news-card:hover {
  transform: translateY(-5px);
  border: 2px solid #d2b521;
}
.news-section .news-card:hover .read-more-btn {
  background-color: #d2b521;
  color: #fff;
}
.news-section .news-card h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
.news-section .news-card p {
  font-size: 0.9rem;
}
.news-section .read-more-link:hover {
  text-decoration: underline;
}
.news-section .read-more-btn {
  position: absolute;
  bottom: -25px;
  display: inline-flex;
  border: 2px solid #d2b521;
  align-items: center;
  background: #ffffff;
  color: #d2b521;
  padding: 10px 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.news-section .read-more-btn:hover {
  background-color: #d2b521;
  color: #fff;
}
.news-section .arrow-icon {
  margin-left: 8px;
  font-size: 1.2rem;
}

.journal-section {
  background-color: #183462;
}
.journal-section h3 {
  color: #ffffff;
  padding: 0 50px;
}
@media only screen and (max-width: 450px) {
  .journal-section h3 {
    padding: 0 10px;
    font-size: 20px;
  }
}
.journal-section h3:hover {
  color: #d2b521;
}
.journal-section button {
  border: none;
  background: none;
}
.journal-section img {
  transition: 0.7s;
  max-width: 100px;
}
@media only screen and (max-width: 450px) {
  .journal-section img {
    max-width: 60px;
  }
}
.journal-section img.factsheet {
  max-width: 86px;
  margin: 0 20px 0 40px;
}
@media only screen and (max-width: 450px) {
  .journal-section img.factsheet {
    max-width: 45px;
    margin: 0;
  }
}
.journal-section img.presentation {
  margin: 0 30px;
  text-align: center;
  margin: 0 20px 0 40px;
}
@media only screen and (max-width: 600px) {
  .journal-section img.presentation {
    margin: 0 0 0 20px;
  }
}
.journal-section img:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transform: rotate(-5deg);
  transition: 0.5s ease-in-out;
}
.journal-section .divider {
  width: 2px;
  height: 110px;
  background-color: #ffffff;
}
.journal-section .fas {
  font-size: 25px;
  color: #d2b521;
}
.journal-section .fas.fa-arrow-circle-left {
  padding-left: 20px;
}

.project-inner-page .project-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.project-inner-page .project-banner h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}
@media only screen and (max-width: 600px) {
  .project-inner-page .project-banner h2 {
    font-size: 40px;
    line-height: 45px;
  }
}
.project-inner-page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-inner-page ul li {
  padding: 15px;
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;
  border-top: 4px solid #d2b521;
}
.project-inner-page ul li img {
  position: absolute;
  top: 16px;
  max-width: 25px;
  margin-right: 10px;
}
.project-inner-page ul li p {
  padding-left: 35px;
  margin-bottom: 0;
}
.project-inner-page .middle-img {
  max-width: 700px;
}
.project-inner-page table.project-custom-table {
  max-width: 50%;
  border: none;
}
.project-inner-page table.project-custom-table th, .project-inner-page table.project-custom-table td {
  border: none;
  padding: 20px;
  font-size: 18px;
}
.project-inner-page table.project-custom-table .first-head {
  background-color: #d2b521;
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.project-inner-page table.project-custom-table .second-head {
  background-color: #001d3d;
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.project-inner-page table.project-custom-table .bold {
  font-weight: bold;
}
.project-inner-page table.project-custom-table tbody {
  background-color: #e4e4e4;
  text-align: center;
}
.project-inner-page.quartz p {
  font-size: 14px;
}
.project-inner-page.quartz ul li {
  margin-bottom: 10px;
  padding: 10px;
}

.news-inner-page {
  margin-bottom: 30px;
  padding-top: 60px;
}
.news-inner-page .news-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.news-inner-page .news-banner h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}
@media only screen and (max-width: 600px) {
  .news-inner-page .news-banner h2 {
    font-size: 40px;
    line-height: 45px;
  }
}
.news-inner-page .news-inner-wrapper {
  border-right: 2px solid #8d8c8c;
  padding-right: 30px;
}
.news-inner-page .news-inner-latest-wrapper {
  padding-left: 30px;
}
.news-inner-page .news-inner-latest-wrapper .latest-news-sidebar li {
  border: 2px solid #d2b521;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
}
.news-inner-page .news-inner-latest-wrapper .latest-news-sidebar li .read-more-btn {
  position: absolute;
  display: inline-flex;
  border: 2px solid #d2b521;
  align-items: center;
  background: #ffffff;
  color: #d2b521;
  padding: 6px 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.news-inner-page .news-inner-latest-wrapper .latest-news-sidebar li .read-more-btn:hover {
  background-color: #d2b521;
  color: #fff;
}
.news-inner-page .news-inner-latest-wrapper .latest-news-sidebar li .arrow-icon {
  margin-left: 8px;
  font-size: 1.2rem;
}
.news-inner-page .news-content a {
  color: #183462 !important;
  text-decoration: underline;
}
.news-inner-page .news-content p, .news-inner-page .news-content a, .news-inner-page .news-content h2 {
  color: #595959;
}
.news-inner-page .news-content img {
  width: 100%;
  padding: 30px 0;
}
.news-inner-page .news-content .bold {
  font-weight: bold;
}
.news-inner-page .news-content h2 {
  color: #001d3d;
  font-size: 38px;
  text-shadow: none;
}
.news-inner-page .news-content h4, .news-inner-page .news-content h5 {
  color: #001d3d;
  margin-top: 20px;
}
.news-inner-page .news-content .first-letter {
  color: #d2b521;
  font-size: 55px;
}

.news-page-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.company-page-banner {
  padding: 18% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.company-page-banner h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}
@media only screen and (max-width: 600px) {
  .company-page-banner h2 {
    font-size: 40px;
    line-height: 45px;
  }
}
.company-page-content {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.investor-page-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.investor-page-banner h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}
@media only screen and (max-width: 745px) {
  .investor-page-banner h2 {
    font-size: 40px;
    line-height: 45px;
  }
}
.investor-page-table {
  padding-top: 90px;
}
.investor-page-table tr, .investor-page-table td {
  padding: 6px;
}
.investor-page iframe {
  min-height: 600px;
  padding-top: 30px;
}
.investor-page h4 {
  color: #d2b521;
}
.investor-page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.investor-page ul li {
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;
  border-top: 4px solid #d2b521;
}
.investor-page ul li img {
  position: absolute;
  max-width: 25px;
  margin-right: 10px;
}
.investor-page ul li p {
  padding-left: 35px;
}
.investor-page .profile-cap-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.investor-page .profile-cap-table th,
.investor-page .profile-cap-table td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: top;
}
.investor-page .profile-cap-table thead .no-border th {
  border: none;
  padding-bottom: 0;
}
@media only screen and (max-width: 745px) {
  .investor-page h3 {
    font-size: 16px;
  }
}

.company-page-content.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.team-member-section {
  background-color: #e4e4e4;
  min-height: 650px;
}
.team-member-section .team-item {
  padding: 0 20px;
  margin-bottom: 40px;
}
.team-member-section .team-item img {
  max-width: 88px;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.team-member-section .team-item .name {
  text-align: center;
  font-weight: bold;
  color: #d2b521;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 15px;
}
.team-member-section .team-item .position {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.team-member-section .team-item p {
  line-height: 30px;
}

.contact-page-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.contact-page-content {
  padding: 40px 0;
}
.contact-page-content h3 {
  color: #595959;
}
.contact-page-content .link {
  color: #d2b521;
}
.contact-page-content h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}

.legal-content-page {
  padding: 60px 0 60px 0;
}

.contact-form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 60px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  position: relative;
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #bbb;
  background: #fefefe;
  resize: none;
  outline: none;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #555;
  pointer-events: none;
  transition: all 0.2s ease;
  font-size: 16px;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: #333;
}

button {
  background-color: transparent;
  color: #d2b521;
  padding: 15px 30px;
  font-weight: bold;
  border: 2px solid #d2b521;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d2b521;
  color: #fff;
}

.footer {
  background-color: #0b1c3b;
  padding: 30px 0;
}
.footer p {
  font-size: 13px;
}
@media only screen and (max-width: 600px) {
  .footer p {
    margin-bottom: 0;
  }
}
.footer a {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
}
.footer a:hover {
  color: #d2b521;
}
.footer img {
  max-width: 75px;
}
.footer h4 {
  margin-top: 0;
  padding-top: 0;
}
@media only screen and (max-width: 600px) {
  .footer h4 {
    padding-top: 20px;
    margin-bottom: 10px;
  }
}
.footer-content {
  padding-bottom: 40px;
  border-bottom: 1px solid #d2b521;
}

.coming-soon-page {
  min-height: 100vh;
  text-align: center;
  background-color: #e4e4e4;
}
.coming-soon-page h2 {
  padding-top: 20%;
  color: #d2b521;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .video-container {
    height: 100%;
  }
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}
@media only screen and (max-width: 750px) {
  .background-video {
    display: none;
  }
}

.content-overlay {
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .table-wrapper {
    overflow-x: auto;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
