* {
  font-family: "Montserrat", sans-serif;
}

iframe {
  display: block;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}


table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

table, th, td {
  border: 1px solid #595959;
  padding: 5px 10px;
}

table tr td:first-child {
  font-weight: bold;
}

a {
  word-break: break-word;
}

img {
  width: 100%;
}

.center {
  text-align: center;
}

.small-img {
  max-width: 250px;
}

.middle-img {
  max-width: 500px;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

}

h2 {
  text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);
  font-size: 70px;
  color: #fff;
  @media only screen and (max-width: 600px) {
    font-size: 35px;
  }

}

h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 32px;
  color: #595959;
  text-transform: uppercase;
  padding-bottom: 20px;
  @media only screen and (max-width: 600px) {
    font-size: 25px;
  }

  &:after {
    color: #d2b521;
    content: "";
    display: block;
    background-color: #d2b521;
    height: 4px;
    margin-top: 5px;
  }
}

h4 {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;

}

h5 {
  font-weight: bold;
  font-size: 18px;
}

h6 {
  font-size: 17px;
  font-weight: 400;

  &.big-gap {
    padding-top: 30px;

  }
}

.animate.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.animate-about {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.animate-about.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.navbar {
  font-family: "Montserrat", sans-serif;
  background-color: #0b1c3b;
  border-bottom: 2px solid #d2b521;

  .navbar-toggler-icon {
    color: #ffffff !important;

  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }


  .logo {
    max-width: 55px;
  }

  .navbar-nav {
    a {
      font-size: 18px;
      color: #ffffff;
      margin: 0 25px;

      &:hover {
        color: #d2b521;
        background-color: transparent;
      }
    }
  }

  .dropdown-menu {
    background-color: #0b1c3b;
  }

  .hover-dropdown:hover .dropdown-menu {
    margin-top: 0;
  }

  .navbar .dropdown-menu {
    transition: all 0.2s ease-in-out;
  }

  .navbar-nav .nav-link.show {
    color: #ffffff;
  }

  .navbar-nav .nav-link.active {
    color: #d2b521;
  }


}

.hero-section {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-size: cover;
  background-position: center;
  color: #595959;
  height: 100vh;
  @media only screen and (max-width: 750px) {
    height: 500px;
    background-image: url('../public/images/home-banner.png');
    background-repeat: no-repeat;
  }

  h4, li p {
    font-weight: bolder;
  }

  h2 {
    color: #fff;
    .gold {
      color: #d2b521;
    }
  }
  h6 {
    line-height: 25px;
  }


  ul li {
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }


  ul {
    @media only screen and (max-width: 750px) {
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      list-style: none;
      border-radius: 16px;
      padding: 10px;
      margin-bottom: 10px;

      img {
        max-width: 35px;
        margin-right: 10px;
      }

      p {
        font-weight: 600;
        margin: 0;
      }
    }
  }

  h4 {
    line-height: 35px;
  }

}

.hero-slide {
  height: 85vh !important;
}

.carousel .carousel-indicators button {
  display: none !important;
}

.carousel .carousel-control-prev, .carousel .carousel-control-next {
  display: none !important;
}

.about-section {
  min-height: 300px;

  .delayed-animate-list {
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 20px 15px;
      margin-bottom: 10px;
      border-top: 4px solid #d2b521;
      min-height: 99px;

      img {
        max-width: 35px;
      }

      p {
        font-weight: 600;
        margin: 0;
        font-size: 14px;
      }
    }
  }
  h4 {
    color: #d2b521;
    margin-bottom: 2em;
  }
  h3 {
    margin-bottom: 0;
  }
}

.projects-section, .explore-section {
  background-color: #e4e4e4;
  min-height: 350px;

  .project-card {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 350px;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    align-items: flex-end;
    border: 2px solid #fff;
    .read-more-btn {
      cursor: pointer;
    }
  }

  .project-card:hover {
    transform: translateY(-5px);
    border: 2px solid #d2b521;

    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
    }

    .read-more-btn {
      background-color: #d2b521;
      color: #fff;
    }

  }

  .overlay {
    position: absolute;
    padding: 20px;
    height: 100% !important;
    color: #fff;
    width: 100%;
    text-align: left;
  }

  .project-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 11rem;

  }

  .read-more-btn {
    display: inline-flex;
    align-items: center;
    background: #ffffff;
    color: #000;
    padding: 10px 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .read-more-btn:hover {
    color: #d2b521;
    transform: translateX(5px);
  }

  .arrow-icon {
    margin-left: 8px;
    font-size: 1.2rem;
  }

  h2 {
    max-width: 80%;
    text-transform: uppercase;
  }

  .project-card-col {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .slide-up {
    opacity: 1;
    transform: translateY(0);
  }

  ul {
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      list-style: none;
      margin-bottom: 10px;
      border-top: 4px solid #d2b521;

      img {
        max-width: 30px;
        margin-right: 10px;
      }

      p {
        font-weight: 400;
        margin: 0;
      }
    }
  }

}

.projects-section {
  .project-card {
    border: 2px solid #e4e4e4;
  }
  ul li {
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
    img {
      margin: 0;
    }
  }

  ul li:nth-child(1) {
    animation-delay: 0s;
  }

  ul li:nth-child(2) {
    animation-delay: 1s;
  }

  ul li:nth-child(3) {
    animation-delay: 2s;
  }

  ul li:nth-child(4) {
    animation-delay: 3s;
  }

  ul li:nth-child(5) {
    animation-delay: 4s;
  }

  ul li:nth-child(6) {
    animation-delay: 5s;
  }


  @keyframes slideInLeft {
    from {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  p {
    font-size: 14px;
  }
  .display-md-block {
    display: block;
    @media only screen and (max-width: 745px) {
      display: none;
    }
  }
  .display-sm-block {
    display: none;
    @media only screen and (max-width: 745px) {
      display: block;
    }
  }
}
.explore-section {
  background-color: #ffffff;
  min-height: 350px;

  .project-title {
    padding-top: 13rem;
  }
}

.news-section {
  background-color: #e4e4e4;
  min-height: 350px;
  #news1 {
    display: none;
  }
  .news-card {
    position: relative;
    background-color: white;
    padding: 30px 20px 50px 20px;
    border-bottom: 2px solid #d2b521;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    min-height: 262px;
    margin-bottom: 20px;

    .news-category {
      background-color: #001d3d;
      color: #ffffff;
      font-size: 16px;
      padding: 5px;
    }

    .news-title {
      padding: 20px 0;
      margin: 0;
    }

    .news-date {
      font-size: 14px;
      font-weight: 500;
      color: #001d3d;
    }
  }

  .news-card:hover {
    transform: translateY(-5px);
    border: 2px solid #d2b521;
    .read-more-btn {
      background-color: #d2b521;

      color: #fff;
    }
  }

  .news-card h5 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .news-card p {
    font-size: 0.9rem;
  }


  .read-more-link:hover {
    text-decoration: underline;
  }

  .read-more-btn {
    position: absolute;
    bottom: -25px;
    display: inline-flex;
    border: 2px solid #d2b521;
    align-items: center;
    background: #ffffff;
    color: #d2b521;
    padding: 10px 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .read-more-btn:hover {
    background-color: #d2b521;

    color: #fff;
  }

  .arrow-icon {
    margin-left: 8px;
    font-size: 1.2rem;
  }
}

.journal-section {
  background-color: #0b1c3b;

  h3 {
    color: #ffffff;
    padding: 0 50px;
    @media only screen and (max-width: 450px) {
      padding: 0 10px;
      font-size: 20px;
    }

    &:hover {
      color: #d2b521;
    }

  }

  button {
    border: none;
    background: none;
  }

  img {
    transition: 0.7s;
    max-width: 200px;
    margin: 0 auto;
    @media only screen and (max-width: 450px) {
      max-width: 60px;
    }

    &.factsheet {
      max-width: 100px;
      margin: 0 auto;
      @media only screen and (max-width: 450px) {
        max-width: 45px;
        margin: 0;
      }
    }

    &.presentation {
      margin: 0 auto;
      text-align: center;
      @media only screen and (max-width: 600px) {
        margin: 0 0 0 20px;
      }
    }

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
      transform: rotate(-5deg);
      transition: 0.5s ease-in-out;
    }
  }

  .divider {
    width: 2px;
    height: 110px;
    background-color: #ffffff;
  }

  .fas {
    font-size: 50px;
    margin: 0 30px;
    color: #d2b521;

    @media only screen and (max-width: 600px) {
      font-size: 20px;
      margin: 0 10px;
    }
    &.fa-arrow-circle-left {
      padding-left: 20px;
    }
  }
}

.project-inner-page {
  .project-banner {
    padding: 15% 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;

    h2 {
      font-weight: 900;
      font-size: 90px;
      line-height: 95px;
      @media only screen and (max-width: 600px) {
        font-size: 40px;
        line-height: 45px;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 15px;
      position: relative;
      margin-bottom: 20px;
      font-size: 16px;
      border-top: 4px solid #d2b521;
      img {
        position: absolute;
        top: 16px;
        max-width: 25px;
        margin-right: 10px;
      }

      p {
        padding-left: 35px;
        margin-bottom: 0;
      }
    }
  }

  .middle-img {
    max-width: 700px;
  }

  table.project-custom-table {
    max-width: 50%;
    border: none;

    th, td {
      border: none;
      padding: 20px;
      font-size: 18px;
    }

    .first-head {
      background-color: #d2b521;
      color: #fff;
      text-align: center;
      font-size: 30px;
    }

    .second-head {
      background-color: #001d3d;
      color: #fff;
      text-align: center;
      font-size: 30px;

    }

    .bold {
      font-weight: bold;
    }

    tbody {
      background-color: #e4e4e4;
      text-align: center;
    }
  }

  ul {
    li {
      margin-bottom: 10px;
      padding: 10px;
      p {
        font-size: 14px;
      }
    }
  }
}

.news-inner-page {
  margin-bottom: 30px;
  padding-top: 60px;

  .news-banner {
    padding: 15% 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;

    h2 {
      font-weight: 900;
      font-size: 90px;
      line-height: 95px;

      @media only screen and (max-width: 600px) {
        font-size: 40px;
        line-height: 45px;
      }
    }
  }

  .news-inner-wrapper {
    border-right: 2px solid #8d8c8c;
    padding-right: 30px;

  }

  .news-inner-latest-wrapper {
    padding-left: 30px;




    .latest-news-sidebar {

      li {
        border: 2px solid #d2b521;
        padding: 20px;
        position: relative;
        margin-bottom: 30px;

        .read-more-btn {
          position: absolute;
          display: inline-flex;
          border: 2px solid #d2b521;
          align-items: center;
          background: #ffffff;
          color: #d2b521;
          padding: 6px 15px;
          font-weight: 600;
          text-decoration: none;
          border-radius: 2px;
          transition: all 0.3s ease;
        }

        .read-more-btn:hover {
          background-color: #d2b521;

          color: #fff;
        }

        .arrow-icon {
          margin-left: 8px;
          font-size: 1.2rem;
        }

      }
    }
  }

  .news-content {
    a {
      color: #183462 !important;
      text-decoration: underline;
    }

    p, a, h2 {
      color: #595959;
    }

    img {
      width: 100%;
      padding: 30px 0;
    }

    .bold {
      font-weight: bold;
    }

    h2 {
      color: #001d3d;
      font-size: 38px;
      text-shadow: none;
    }

    h4, h5 {
      color: #001d3d;
      margin-top: 20px;
    }
    .first-letter {
      color: #d2b521;
      font-size: 55px;

    }

  }

}

.news-page {
  &-banner {
    padding: 15% 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.company-page {
  &-banner {
    padding: 18% 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    h2 {
      font-weight: 900;
      font-size: 90px;
      line-height: 95px;
      @media only screen and (max-width: 600px) {
        font-size: 40px;
        line-height: 45px;
      }

    }
  }

  &-content {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
  }
  h4 {
    color: #d2b521;
  }
}

.investor-page {
  &-banner {
    padding: 15% 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
      font-weight: 900;
      font-size: 90px;
      line-height: 95px;
      @media only screen and (max-width: 745px) {
        font-size: 40px;
        line-height: 45px;
      }

    }
  }

  &-table {
    padding-top: 90px;
    @media only screen and (max-width: 600px) {
      padding-top: 20px;
    }

    tr, td {
      padding: 6px;
    }
  }

  iframe {
    min-height: 365px;
  }
  h4 {
    color: #d2b521;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      margin-bottom: 20px;
      font-size: 16px;
      border-top: 4px solid #d2b521;
      img {
        position: absolute;
        max-width: 25px;
        margin-right: 10px;
      }

      p {
        padding-left: 35px;
      }
    }
  }

  .profile-cap-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
  }

  .profile-cap-table th,
  .profile-cap-table td {
    border: 1px solid #ccc;
    padding: 8px;
    vertical-align: top;
  }

  .profile-cap-table thead .no-border th {
    border: none;
    padding-bottom: 0;
  }

  h3 {
    @media only screen and (max-width: 745px) {
      font-size: 16px;
    }
  }
  .box-company {
    background-color: #d2b521;
    padding:35px 20px;
    color: #ffffff;
    @media only screen and (max-width: 600px) {
      margin-top: 100px;
    }
    h4, p, a {
      color: #ffffff;
    }
    h4 {
      font-size: 31px;
    }
    p {
      font-size: 20px;
      margin: 25px 0;
    }
    a {
      font-size: 18px;
      font-weight: 600;
      border: 2px solid #fff;
      padding: 15px;
      text-transform: uppercase;
      margin-top: 20px;
      display: block;
      max-width: 70%;
      text-decoration: none;
      &:hover {
        background-color: #ffffff;
        color: #d2b521;
      }
    }

  }


}

.company-page-content.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.team-member-section {
  background-color: #e4e4e4;
  min-height: 650px;

  .team-item {
    padding: 0 20px;
    margin-bottom: 40px;

    img {
      max-width: 88px;
      margin: 0 auto;
      text-align: center;
      display: block;
    }

    .name {
      text-align: center;
      font-weight: bold;
      color: #d2b521;
      margin: 0 auto;
      padding-bottom: 5px;
      padding-top: 15px;
    }

    .position {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
    }

    p {
      line-height: 30px;
    }
  }
}

.contact-page {
  &-banner {
    padding: 15% 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
  }

  &-content {
    padding: 40px 0;

    h3 {
      color: #595959;
    }

    .link {
      color: #d2b521;

    }

    h2 {
      font-weight: 900;
      font-size: 90px;
      line-height: 95px;
    }

  }

}

.legal-content-page {
  padding: 60px 0 60px 0;
}

.contact-form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 60px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  position: relative;
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #bbb;
  background: #fefefe;
  resize: none;
  outline: none;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #555;
  pointer-events: none;
  transition: all 0.2s ease;
  font-size: 16px;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: #333;
}

button {
  background-color: transparent;
  color: #d2b521;
  padding: 15px 30px;
  font-weight: bold;
  border: 2px solid #d2b521;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d2b521;
  color: #fff;
}


.footer {
  background-color: #0b1c3b;
  padding: 30px 0;

  p {
    font-size: 13px;
    @media only screen and (max-width: 600px) {
      margin-bottom: 0;
    }
  }

  a {
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #d2b521;
    }
  }

  img {
    max-width: 75px;
  }

  h4 {
    margin-top: 0;
    padding-top: 0;
    @media only screen and (max-width: 600px) {
      padding-top: 20px;
      margin-bottom: 10px;
    }
  }

  &-content {
    padding-bottom: 40px;
    border-bottom: 1px solid #d2b521;
  }
}

.coming-soon-page {
  min-height: 100vh;
  text-align: center;
  background-color: #e4e4e4;

  h2 {
    padding-top: 20%;
    color: #d2b521;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @media only screen and (max-width: 600px) {
    height: 100%;

  }
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
  @media only screen and (max-width: 750px) {
    display: none;

  }
}

.content-overlay {
  position: relative;
  z-index: 1;
  color: white;

  padding: 2rem;
}
.small-txt {
  p {
    text-align: left;
    font-size: 14px;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }
  .text-right {
    text-align: right;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }
}


#tradingview-widget div:nth-child(2) {
  display: none;
}


@media only screen and (max-width: 600px) {
  .table-wrapper {
    overflow-x: auto;
    width: 100%;
  }
}

