* {
  font-family: "Montserrat", sans-serif;
}

iframe {
  display: block;
}
@media only screen and (max-width: 600px) {
  iframe {
    width: 100%;
  }
}

table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

table, th, td {
  border: 1px solid #595959;
  padding: 5px 10px;
}

table tr td:first-child {
  font-weight: bold;
}

a {
  word-break: break-word;
}

img {
  width: 100%;
}

.center {
  text-align: center;
}

.small-img {
  max-width: 250px;
}

.middle-img {
  max-width: 700px;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 100px;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 32px;
  color: #595959;
  text-transform: uppercase;
  padding-bottom: 20px;
}
h3:after {
  color: #d2b521;
  content: "";
  display: block;
  background-color: #d2b521;
  height: 4px;
  margin-top: 5px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

h5 {
  font-size: 18px;
}

.animate.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.animate-about {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.animate-about.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.navbar {
  font-family: "Montserrat", sans-serif;
  background-color: #0b1c3b;
  border-bottom: 2px solid #d2b521;
}
.navbar .navbar-toggler-icon {
  color: #ffffff !important;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar .logo {
  max-width: 75px;
}
.navbar .navbar-nav a {
  font-size: 18px;
  color: #ffffff;
}
.navbar .navbar-nav a:hover {
  color: #d2b521;
}
.navbar .dropdown-menu {
  background-color: #0b1c3b;
}
.navbar .hover-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.navbar .navbar .dropdown-menu {
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-nav .nav-link.show {
  color: #ffffff;
}
.navbar .navbar-nav .nav-link.active {
  color: #d2b521;
}

.hero-section {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-size: cover;
  background-position: center;
  color: #595959;
  height: 90vh;
}

.hero-slide {
  height: 90vh !important;
  background-position: bottom !important;
}

.about-section {
  min-height: 300px;
}

.projects-section, .explore-section {
  background-color: #e4e4e4;
  min-height: 350px;
}
.projects-section .project-card, .explore-section .project-card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 350px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  align-items: flex-end;
}
.projects-section .project-card .read-more-btn, .explore-section .project-card .read-more-btn {
  cursor: pointer;
}
.projects-section .project-card:hover, .explore-section .project-card:hover {
  transform: translateY(-5px);
}
.projects-section .project-card:hover .overlay, .explore-section .project-card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.projects-section .overlay, .explore-section .overlay {
  position: absolute;
  padding: 20px;
  padding-top: 58%;
  color: #fff;
  width: 100%;
  text-align: left;
}
.projects-section .project-title, .explore-section .project-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.projects-section .read-more-btn, .explore-section .read-more-btn {
  display: inline-flex;
  align-items: center;
  background: #ffffff;
  color: #000;
  padding: 10px 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.projects-section .read-more-btn:hover, .explore-section .read-more-btn:hover {
  color: #d2b521;
  transform: translateX(5px);
}
.projects-section .arrow-icon, .explore-section .arrow-icon {
  margin-left: 8px;
  font-size: 1.2rem;
}
.projects-section h2, .explore-section h2 {
  max-width: 80%;
  text-transform: uppercase;
}
.projects-section .project-card-col, .explore-section .project-card-col {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.projects-section .slide-up, .explore-section .slide-up {
  opacity: 1;
  transform: translateY(0);
}

.explore-section {
  background-color: #ffffff;
  min-height: 350px;
}

.news-section {
  background-color: #e4e4e4;
  min-height: 350px;
}
.news-section .news-card {
  position: relative;
  background-color: white;
  padding: 30px 20px 50px 20px;
  border-bottom: 2px solid #d2b521;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  min-height: 240px;
}
.news-section .news-card .news-category {
  background-color: #001d3d;
  color: #ffffff;
  font-size: 16px;
  padding: 5px;
}
.news-section .news-card .news-title {
  padding: 20px 0;
  margin: 0;
}
.news-section .news-card .news-date {
  font-size: 14px;
  font-weight: 500;
  color: #001d3d;
}
.news-section .news-card:hover {
  transform: translateY(-5px);
}
.news-section .news-card h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
.news-section .news-card p {
  font-size: 0.9rem;
}
.news-section .read-more-link:hover {
  text-decoration: underline;
}
.news-section .read-more-btn {
  position: absolute;
  bottom: -25px;
  display: inline-flex;
  border: 2px solid #d2b521;
  align-items: center;
  background: #ffffff;
  color: #d2b521;
  padding: 10px 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.news-section .read-more-btn:hover {
  background-color: #d2b521;
  color: #fff;
}
.news-section .arrow-icon {
  margin-left: 8px;
  font-size: 1.2rem;
}

.journal-section {
  background-color: #183462;
}
.journal-section h3 {
  color: #ffffff;
  padding: 0 30px;
}
.journal-section button {
  border: none;
  background: none;
}
.journal-section img {
  transition: 0.7s;
  max-width: 200px;
}
.journal-section img.factsheet {
  max-width: 86px;
}
.journal-section img:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transform: rotate(-5deg);
  transition: 0.5s ease-in-out;
}
.journal-section .divider {
  width: 2px;
  height: 110px;
  background-color: #ffffff;
}
.journal-section .fas {
  font-size: 40px;
  color: #d2b521;
}
.journal-section .fas.fa-arrow-circle-right {
  padding-right: 10px;
}
.journal-section .fas.fa-arrow-circle-left {
  padding-left: 10px;
}

.project-inner-page .project-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.project-inner-page .project-banner h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}
@media only screen and (max-width: 600px) {
  .project-inner-page .project-banner h2 {
    font-size: 40px;
  }
}

.news-inner-page {
  margin-bottom: 30px;
  padding-top: 60px;
}
.news-inner-page .news-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.news-inner-page .news-banner h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}
@media only screen and (max-width: 600px) {
  .news-inner-page .news-banner h2 {
    font-size: 40px;
  }
}
.news-inner-page .news-inner-wrapper {
  border-right: 2px solid #8d8c8c;
  padding-right: 30px;
}
.news-inner-page .news-inner-latest-wrapper {
  padding-left: 30px;
}
.news-inner-page .news-inner-latest-wrapper .latest-news-sidebar li {
  border: 2px solid #d2b521;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
}
.news-inner-page .news-inner-latest-wrapper .latest-news-sidebar li .read-more-btn {
  position: absolute;
  display: inline-flex;
  border: 2px solid #d2b521;
  align-items: center;
  background: #ffffff;
  color: #d2b521;
  padding: 6px 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.news-inner-page .news-inner-latest-wrapper .latest-news-sidebar li .read-more-btn:hover {
  background-color: #d2b521;
  color: #fff;
}
.news-inner-page .news-inner-latest-wrapper .latest-news-sidebar li .arrow-icon {
  margin-left: 8px;
  font-size: 1.2rem;
}
.news-inner-page .news-content a {
  color: #183462 !important;
  text-decoration: underline;
}
.news-inner-page .news-content p, .news-inner-page .news-content a, .news-inner-page .news-content h2 {
  color: #595959;
}
.news-inner-page .news-content img {
  width: 100%;
  padding: 30px 0;
}
.news-inner-page .news-content .bold {
  font-weight: bold;
}
.news-inner-page .news-content h2 {
  color: #001d3d;
  font-size: 38px;
}
.news-inner-page .news-content h4, .news-inner-page .news-content h5 {
  color: #001d3d;
  margin-top: 20px;
}

.news-page-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.company-page-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.company-page-banner h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}
@media only screen and (max-width: 600px) {
  .company-page-banner h2 {
    font-size: 40px;
  }
}
.company-page-content {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.investor-page-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.investor-page-banner h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}

.company-page-content.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.team-member-section {
  background-color: #e4e4e4;
  min-height: 650px;
}
.team-member-section .team-item {
  padding: 0 20px;
  margin-bottom: 40px;
}
.team-member-section .team-item img {
  max-width: 88px;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.team-member-section .team-item .name {
  text-align: center;
  font-weight: bold;
  color: #d2b521;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 15px;
}
.team-member-section .team-item .position {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.team-member-section .team-item p {
  line-height: 30px;
}

.contact-page-banner {
  padding: 15% 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.contact-page-content {
  padding: 40px 0;
}
.contact-page-content h3 {
  color: #595959;
}
.contact-page-content .link {
  color: #d2b521;
}
.contact-page-content h2 {
  font-weight: 900;
  font-size: 90px;
  line-height: 95px;
}

.contact-form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 60px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  position: relative;
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #bbb;
  background: #fefefe;
  resize: none;
  outline: none;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #555;
  pointer-events: none;
  transition: all 0.2s ease;
  font-size: 16px;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: #333;
}

button {
  background-color: transparent;
  color: #d2b521;
  padding: 15px 30px;
  font-weight: bold;
  border: 2px solid #d2b521;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d2b521;
  color: #fff;
}

.footer {
  background-color: #0b1c3b;
}

/*# sourceMappingURL=styles.css.map */
